src/main/mule/implementation/post implementation sys flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="post_implementation_xapi_Flow" doc:id="a4d0ad99-28ee-4140-a4e4-ac3e904acab3" >
		<logger level="INFO" doc:name="papi request Logger" doc:id="4aab8004-4e4c-440c-bb93-26144802fa70" message='#[%dw 2.0
output application/json
---
{
	"flowname": flow.name,
	"app name": app.name,
	"status": "papi request"
}]'/>
		<http:request method="POST" doc:name="Request" doc:id="6685db15-e9b5-479f-b010-b7b89c6793ce" path="${http.requester.transactionpath}" config-ref="HTTP_Request_configuration" responseTimeout="45000">
			<http:headers ><![CDATA[#[%dw 2.0
output application/json
---
{
	"X-lyt-channel" : vars.headers_var.'X-lyt-channel',
	"X-lyt-Originlanguage" : vars.headers_var.'X-lyt-Originlanguage',
	"X-lyt-OriginMarket" : vars.headers_var.'X-lyt-OriginMarket',
	"clientid" : p('clientId'),
	"clientsecret" : p('clientSecret'),
	"X-lyt-transactionId": vars.headers_var.'X-lyt-transactionId'	
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="papi responce Logger" doc:id="1958c18d-ed14-44ef-865c-605ff32cc7d9" message='#[%dw 2.0
output application/json
---
{
	"flowname": flow.name,
	"app name": app.name,
	"status": "papi responce"
}]'/>
		<ee:transform doc:name="Transform Message" doc:id="e8dc5657-60da-4310-928f-11bb71a35ec7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  msg: "successful operation",
  code: 201,
  success: true,
  eventId: "jfgsff55ttoxhzxgy",
  data: {
    memberId: vars.requestpayload_var.memberId,
    status: "success"
  }
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global_Error_Handler" />
	</flow>
</mule>
